.well
  %table.table
    = render partial: "exordium", locals: {blog: @blog}
    %tr
      %td{colspan: "2"}= @blog.contents2

- content_for :sidebar do
  = render "home/sidebar_profile"
  = render "blogs/sidebar_blogs"
  = render "blogs/sidebar_blog_links"
 
