- if @blog_comment.errors.any?
  #error_explanation
    %h2= "#{pluralize(@blog_comment.errors.count, "error")} prohibited this blog_comment from being saved:"
    %ul
      - @blog_comment.errors.full_messages.each do |msg|
        %li= msg

.control-group
  = f.label :title, class: "control-label"
  .controls
    = f.text_field :title
.control-group
  = f.label :url, class: "control-label"
  .controls
    = f.text_field :url
.control-group
  = f.label :mail, class: "control-label"
  .controls
    = f.text_field :mail
.control-group
  = f.label :author, class: "control-label"
  .controls
    = f.text_field :author
.control-group
  = f.label :content, class: "control-label"
  .controls
    = f.text_area :content, class: "span4", rows: "5"
.control-group
  = f.label :password, class: "control-label"
  .controls
    = f.password_field :password
.control-group
  = f.label :admin, class: "control-label"
  .controls
    = f.check_box :admin
.control-group
  .controls
    = f.submit class: "btn"


